/abc.html
/cat form.pdf
/chimpui.jpg
/count.html
/def.html
/hello.html
/IMAGE.jfif
/q1.html
/q10.html
/q2.html
/q3.html
/q4.html
/q5.html
/q6.html
/q7.html
/q8.html
/q9.html
/shrishti.html
/SIGNATURE.jfif